@model TestProject.Models.RedFish

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RedFish</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Propery1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Propery1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Propery2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Propery2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Propery3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Propery3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Propery4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Propery4)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
